{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}

<br>
<h1>What is this program?</h1>
<p1>The purpose of this program is to</p1>

<form>
    <br>
    <p1>Charity Name</p1>
    <input class="form-control" type="text" placeholder="Charity Name">
    <br>

    <p1>Mission Statement</p1>
    <input class="form-control" type="text" placeholder="Mission Statement">
    <br>

    <p1>Statistic</p1>
    <input class="form-control" type="text" placeholder="Statistic">
    <br>

    <p1>Donation Link</p1>
    <input class="form-control" type="text" placeholder="Donation Link">
    <br>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}